		<div class="top-banner logo teal">
	        <div class="inner">
	            <div>
	                <a class="logotype" href="http://www.ucsf.edu/">
	                    <span>University of California San Francisco</span>
	                </a>
	            </div>
	            <div class="nav">
	                <ul class="top-banner-menu">
	                    <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
	                    <li><a href="http://www.ucsf.edu/search">Search UCSF</a></li>
	                    <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>


<header id="masthead">

	
	 <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->